.menu {
  display: inline-block;
  text-decoration: none;
}

.opcion1 {
  text-align: center;
  text-decoration: none;
  border-color: blue;
  margin: 20px;
  color: red;
}

.logoem {
  display: inline-block;
}

.lema {
  display: inline-block;
}